doctype html
html 
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title My Webpage 
        link(rel='stylesheet', href='/stylesheets/submit.css') 
        script(src="https://kit.fontawesome.com/4c1b10f580.js" crossorigin="anonymous")
    body
        section.show
            .icon-container    
                i.fa-solid.fa-check.submit-icon
            .status Form Submitted 
            .response To view or update your account details, 
                a(href=formdetail) click here